.Feed{
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
}
.Feed_Videos{
  padding: 20px;
  height: calc(100vh - 90px);
  width: calc(100% - 180px);
  border: 1px solid #222;
  overflow: auto; 
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(6,1fr);
  gap: 20px;
}
  
  @media screen and (max-width:1000px) {
    .Feed_Videos{
      grid-template-columns: repeat(2,1fr);
    }
    @media screen and (max-width:700px) {
      .Feed_Videos{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(20,1fr);
      }
      
    }
    @media screen and (max-width:480px) {
      .Feed_Videos{
        width: 100%;
        
      }
    }
  }
/* 
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #aaa;
}

::-webkit-scrollbar-thumb {
  background: #222;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
































::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #aaa;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #222;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }