@import url('https://fonts.googleapis.com/css2?family=Archivo:ital@1&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --Youtube-Red:#FF0000;
    color:#fff;
    font-family: Popins,sans-serif;
}
.Main-Section{
    height: 100vh;
    width: 100%;
    background-color: #000;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #aaa;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }